/*
 * Definitions specific to the i.MX6DL version of the Medianode.
 *
 * Copyright (C) 2013 Sensity Systems, Inc.
 *
 * CONFIDENTIAL AND PROPRIETARY.
 */

/dts-v1/;

#include "imx6dl.dtsi"
#include "imx6qdl-sensity_medianode.dtsi"

/ {
	model = "Sensity Systems Medianode (MX6DL)";
	compatible = "sensity,medianode", "fsl,imx6dl";
};

&i2c2 {

	/* Camera driver on MIPI interface */
	ssmn_mipi@7f {
		compatible = "sensity,ssmn_mipi";
		reg = <0x7f>; /* A dummy I2C slave address */
		clocks = <&clks 201>;
		clock-names = "csi_mclk";
		csi_id = <1>;
		mclk = <24000000>;
		mclk_source = <0>;
		gpr = <&gpr>;
	};
};

&i2c4 {
	/*
	 * All signals go out on connectors J19 external sensor bus
	 * and J24 audio pod.
	 */
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4_1>;	/*  "ENET TX" pins.  */
	status = "okay";

};
